body {
    text-align: center;
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label {
    color: #4CAF50;
}
input {
    color: #4CAF50;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: #4CAF50;
}
select {
    color: #4CAF50;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: #4CAF50;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: #4CAF50;